<form>
  <div class="form-group">
    <label for="exampleInputname">Name</label>
    <input type="name" class="form-control" id="exampleInputName" placeholder="name">
  <div class="form-group">
    <label for="exampleInputAge">Age</label>
    <input type="Age" class="form-control" id="exampleInputAge" placeholder="Age">
  </div>
  </div>
    <div class="form-group">
    <label for="exampleInputAdreess">Address</label>
    <input type="Adress" class="form-control" id="exampleInputAdress" placeholder="Adress">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>